html {
    height: 100%;
}

.mobile-menu {
    padding: 10px 15px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid black!important;
    border-radius: 0.25rem;
}

.total-bag {
    margin-right: 25px;
    border: 1px solid black;
    border-radius: 45px;
}

.search-bar {
    width: 210px;
    height: 42px;
    border: 1px solid black;
    border-right: none;
    margin-right: 0px!important;
    border-radius: 45px 0px 0px 45px;
}

.search-submit {
    width: 50px;
    height: 42px;
    background-color: #fff;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 45px 45px 0px;
}

.text-black {
    color: black!important;
}

.footer-link {
    display: block;
    font-size: 1.2em;
    padding: 3px;
    margin-top: 3px;
}

.footer{
    background-color: #f8f9fa!important;
}


@media (min-width: 1024px) {
    .btn-link{
        border: 1px solid black;
        border-radius: 45px;
        margin: 2px;
        padding: 5px;
        max-width: 100px;
        text-align: center;
    }
    
}

@media (min-width: 992px) {

}

@media (max-width: 991px) {

}

@media (max-width: 426px) {
    .footer-mobile {
        font-size: 1.5em;
        display: inline-block;   
        margin-top: 10px;          
    }
    .footer-mobile-link {
        font-size: 1em;
        display: block;
        
    }
}


